<fieldset>
    <mtapp:setting
        id="template_approval"
        label="<MT_TRANS phrase="API Key">"
        hint=""
        dialog_view=1
        show_hint="0">
        <p>
            <a href="javascript: void(0);" title="<MT_TRANS phrase="Set your WPStats API Key">" onclick="return openDialog(false, 'wpstats_configure', 'blog_id=<TMPL_VAR name="blog_id">')"><MT_TRANS phrase="Set your WPStats API Key"></a><br />
        </p>
    </mtapp:setting>
</fieldset>